body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logotreeLeer {
  position: relative;
  top: 2vh;
}
.mainScreen {
  position: fixed;
  background-color: rgba(245, 248, 250, 1);
  height: 100%;
  width: 100%;
}
.sideBar {
  position: fixed;
  width: 19%;
  height: 100%;
  background: #ffffff;
}
.menu {
  top: 30%;
  left: 10%;
  position: absolute;
}

.menuitem1 {
  background-color: rgba(255, 255, 255, 0);
  height: 20%;
  width: 47px;
  position: absolute;
  margin: 0;
  left: 20%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.menuitem1 .home2 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 110%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: 'Helvetica', Helvetica, Arial, serif;
  font-size: calc(0.8vw + 0.4vh + 0.375vmin);
  color: rgba(64, 78, 91, 1);
  text-align: left;
  line-height: 24px;
}
.shape {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 2%;
  width: 11%;
  left: 2vw;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.white {
  color: white;
}
.sideBarButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.sideBarImage {
  top: 38%;
  height: 7%;
  border-radius: 15px;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.topbarmenu {
  background-color: rgba(255, 255, 255, 0);
  top: -1%;
  height: 18.4%;
  width: 90%;
  position: absolute;
  margin: 0;
  left: 19%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.left {
  position: relative;
  left: 73%;
}
.background43 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  top: -70%;
  height: 240%;
  width: 68%;
  position: absolute;
  margin: 0;
  left: -1.5%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home1 {
  background-color: rgba(255, 255, 255, 0);
  top: 40%;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  vertical-align: middle;
  left: 5%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: 'Helvetica', Helvetica, Arial, serif;
  font-size: calc(0.9vw + 0.6vh + 0.375vmin);
  color: rgba(64, 78, 91, 1);
  text-align: left;
}
.topbarmenu .background {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 100%;
  width: 90%;
  position: absolute;
  margin: 0;
  left: none;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.charts {
  position: absolute;
  top: 20%;
  left: 22%;
}
.logoNombre {
  top: 2%;
  height: 30%;
  width: 60%;
  position: absolute;
  margin: 0px;
  left: 17%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImage2 {
  top: 45%;
  border-radius: 15px;
  height: 7%;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImage3 {
  top: 52%;
  height: 7%;
  border-radius: 15px;
  left: 0px;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImageActive {
  top: 38%;
  background-color: #f7f9f8;
  height: 7%;
  border-radius: 15px;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImage2Active {
  top: 45%;
  background-color: #f7f9f8;
  border-radius: 15px;
  height: 7%;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.topHeader {
  background-color: #ffffff;
  top: 0px;
  filter: brightness(1.15);
  height: 35%;
  width: 100%;
  position: absolute;
  margin: 0px;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImage3Active {
  top: 52%;
  background-color: #f7f9f8;
  height: 7%;
  border-radius: 15px;
  left: 0px;
  width: 80%;
  position: absolute;
  margin: 0;
  left: 8%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.sideBarImage4 {
  top: 65%;
  background-color: none;
  height: 8%;
  left: 0px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.card {
  display: flex;
  min-height: fit-content;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

/*Transaction Card*/
.card.transaction {
  margin: 5px 5px 10px 5px;
  padding: 16px;
  width: 450px;
}

.card.transaction > * {
  margin: 2px;
}

.transaction__column {
  display: flex;
  flex-direction: column;
}

.transaction__column > * {
  margin: 5px;
}

.transaction__profileImage {
  background-image: url('https://picsum.photos/200/300');
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
}

.transaction__title {
  font-size: 13px;
  font-weight: 600;
}

.transaction__date {
  position: relative;
  font-size: 12px;
  color: #6a737d;
}

.transaction__comments {
  position: relative;
  font-size: 20px;
}

.transaction__pool-card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 125px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 1rem 0 rgba(136, 152, 170, 0.15);
  overflow: hidden;
  cursor: pointer;
}

.transaction__pool-card:hover {
  box-shadow: 0 0 4rem 0 rgba(136, 152, 170, 0.15);
}

.transaction__pool-card-image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.transaction__pool-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  padding: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: 600;
  font-size: 12px;
  color: #6a737d;
}
/*Transaction Card*/
